$primary: #007bff;
$primary-light: lighten($primary, 10%);

.btn {
  border-radius: 0;

  &.transparent {
    background: none;
    border: none;
  }

  &.primary {
    background: $primary !important;
    color: white !important;
    border: 2px solid $primary-light !important;
    padding: 4px 8px;
    text-transform: uppercase;
  }
}
