$primary: #007bff;

.container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 8px;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);

  &--title,
  &--body,
  &--footer {
    display: flex;
    justify-content: flex-start;
  }

  &--title,
  &--body {
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    width: 100%;
    text-align: left;
  }

  &--body {
    padding: 8px;

    ul {
      margin: 0;
      padding-inline-start: 30px;
    }
  }

  &--title,
  &--footer {
    padding: 4px 8px;
  }

  &--title {
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 500;
    align-items: center;
    .btn {
      padding: 6px 2px 6px 6px !important;
    }

    .fas,
    .fa {
      font-size: 110%;
      color: $primary;
    }
  }

  &--body {
    background: white;
    flex-direction: column;
  }

  &--footer {
    font-size: 85%;
    padding: 4px 8px;
    color: rgba(0, 0, 0, 0.6);
  }
}
